/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-bottom: 20px;
  width: 100%;
}
.header .header__main-div {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__main-div .header__nav {
  display: flex;
}
.header .header__main-div .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
  list-style-type: none;
}
.header .header__main-div .header__nav-list__item {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease-in-out;
}
.header .header__main-div .header__nav-list__item:hover {
  border-bottom: 2px solid #fa9021;
  transition: 0.5s ease-in-out;
}
.header .header__main-div .header__nav-button {
  cursor: pointer;
  margin-left: 36px;
  border-radius: 6px;
  background: #fa9021;
  width: 131px;
  height: 41px;
  border: 2px solid transparent;
  color: #fff;
  font-size: 13px;
  transition: 0.5s ease-in-out;
}
.header .header__main-div .header__nav-button:hover {
  color: #e47500;
  background-color: transparent;
  border: 2px solid #e47500;
  transition: 0.5s ease-in-out;
}

.hero {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 77px;
}
.hero .hero__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero__main-wrapper .hero__content-wrapper .hero__title {
  width: 425px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 180.5%;
  margin-bottom: 25px;
}
.hero .hero__main-wrapper .hero__content-wrapper .hero__text {
  width: 414px;
  color: #fff;
  font-size: 15px;
  line-height: 208.5%;
  margin-bottom: 57px;
}
.hero .hero__main-wrapper .hero__content-wrapper .hero__button {
  padding: 10px 16px;
  text-align: center;
  border-radius: 40px;
  background: #fa9021;
  width: 176px;
  height: 47px;
  border: 2px solid transparent;
  color: #fff;
  transition: 0.5s ease-in-out;
  font-weight: 500;
}
.hero .hero__main-wrapper .hero__content-wrapper .hero__button:hover {
  color: #e47500;
  background-color: transparent;
  border: 2px solid #e47500;
  transition: 0.5s ease-in-out;
}
.hero .hero__content-inner {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 38px;
}
.hero .hero__content-inner .hero__title-link {
  color: #fff;
  font-size: 12px;
  line-height: 208%;
}
.hero .hero__content-inner .hero__title-link--active {
  color: #e47500;
}
.hero .hero__image-wrapper {
  width: 739px;
  height: 656px;
  position: relative;
  margin-right: -100px;
}
.hero .hero__image-wrapper .hero__img-pages {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #333;
  padding: 17px 28px;
  cursor: pointer;
}
.hero .hero__image-wrapper .hero__img-pages__text {
  color: #fff;
  font-weight: 500;
  line-height: 208.5%;
}

.reasons__section {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 77px;
  padding-bottom: 147px;
}
.reasons__section .reasons__main-div .reasons__title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 180%;
  margin-bottom: 63px;
}
.reasons__section .reasons__cards-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 43px;
}
.reasons__section .reasons__cards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #1c140f;
  box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  padding: 64px 37px;
}
.reasons__section .reasons__cards .reasons__cards-link {
  padding: 7px 35px 6px 14px;
  color: #fff;
  font-size: 14px;
  line-height: 187%;
  height: 39px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: rgba(176, 0, 220, 0.11);
  margin-bottom: 18px;
  transition: all 0.4s ease-in-out;
  text-align: center;
}
.reasons__section .reasons__cards .reasons__cards-link:hover {
  transition: all 0.4s ease-in-out;
  color: #e47500;
  background-color: transparent;
  border: 1px solid #e47500;
}
.reasons__section .reasons__cards .reasons__cards-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 187.5%;
  margin-bottom: 16px;
}
.reasons__section .reasons__cards .reasons__cards-text {
  color: #fff;
  line-height: 187.5%;
}

.lorem__section {
  padding-bottom: 148px;
}
.lorem__section .lorem__bg-color {
  background-color: #1c140f;
}
.lorem__section .lorem__main-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 113px;
}
.lorem__section .lorem__wrapper {
  max-width: 536px;
}
.lorem__section .lorem__wrapper-link {
  color: #fff;
  font-weight: 500;
  line-height: 202%;
  margin-bottom: 14px;
}
.lorem__section .lorem__wrapper-title {
  width: 531px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 157%;
  margin-bottom: 14px;
}
.lorem__section .lorem__wrapper-text {
  width: 536px;
  color: #fff;
  line-height: 202%;
}

.members .members__main-div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.members__title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 53px;
  line-height: 180%;
}
.members .members__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.members .members__wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 295px;
  border-radius: 20px;
  background-color: #1c140f;
  padding-top: 35px;
  padding-bottom: 30px;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
}
.members .members__wrapper-inner:hover {
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.members .members__wrapper-inner .members__name {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 202%;
}
.members .members__wrapper-inner .members__text {
  color: #e8e8e8;
  font-weight: 300;
  line-height: 202%;
  margin-top: -10px;
}

.subscription {
  padding-top: 52px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 163px;
}
.subscription .subscription__main-div {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.subscription .subscription__main-div .subscription__header-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 187.5%;
  margin-bottom: 32px;
}
.subscription .subscription__main-div .subscription__header-text {
  width: 545px;
  color: #fff;
  line-height: 187.5%;
  padding-bottom: 74px;
}
.subscription .subscription__main-div .subscription__div {
  width: 100%;
  border-radius: 15px;
  background-color: #18110d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 42px;
}
.subscription .subscription__main-div .subscription__div .subscription__div-content__title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subscription .subscription__main-div .subscription__div .subscription__div-content__text {
  width: 636px;
  color: #fff;
  font-size: 17px;
}
.subscription .subscription__main-div .subscription__div .subscription__input-div {
  position: relative;
}
.subscription .subscription__main-div .subscription__div .subscription__input-div .subscription__div-input {
  color: #898989;
  text-align: start;
  font-size: 13px;
  font-weight: 300;
  width: 385px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 20px;
  outline: transparent solid;
  border: transparent;
}
.subscription .subscription__main-div .subscription__div .subscription__input-div__button {
  position: absolute;
  right: 5px;
  bottom: 6px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #dc7000;
  width: 104px;
  height: 37px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  border: transparent;
  transition: all 0.4s ease-in-out;
}
.subscription .subscription__main-div .subscription__div .subscription__input-div__button:hover {
  background-color: transparent;
  border: 2px solid #dc7000;
  color: #dc7000;
  transition: all 0.4s ease-in-out;
}

.footer .footer__line {
  border: 1px solid #180b04;
}
.footer .footer__main-div {
  padding-top: 73px;
  padding-bottom: 56px;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.footer .footer__main-div .footer__nav-div .footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 98px;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list {
  list-style: none;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-first-list__items {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-first-list__items .footer__nav-list__titles {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-first-list__items .footer__nav-list__texts {
  color: #fff;
  width: 373px;
  margin-top: 15px;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-second-list__items .footer__nav-list__titles {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-second-list__items .footer__nav-list__links {
  text-decoration: none;
  color: #fff;
  line-height: 186.3%;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-second-list__items .footer__nav-list__links:hover {
  border-bottom: 2px solid #fa9021;
  transition: all 0.5s ease-in-out;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-third-list__items .footer__nav-list__titles {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footer .footer__main-div .footer__nav-div .footer__nav .footer__nav-list .footer__nav-third-list__items .footer__nav-list__texts {
  color: #fff;
  width: 282px;
  margin-top: 15px;
}
.footer .footer__main-div .footer__social-media__links {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 16px;
}
.footer .footer__main-div .footer__social-media__links .footer__socials-wrapper-links__img {
  background-color: #fff;
  border: 2px solid transparent;
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}
.footer .footer__main-div .footer__social-media__links .footer__socials-wrapper-links__img:hover {
  background-color: yellow;
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 15px;
  border: 2px solid cornflowerblue;
  transition: all 0.4s ease-in-out;
}
.footer .footer__end-text {
  color: #fff;
  font-size: 13px;
  line-height: 190.6%;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}/*# sourceMappingURL=about-styles.css.map */