.spiderman__section {
  padding-top: 60px;
  padding-bottom: 157px;

  .spiderman__main-div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .spiderman__header {
      width: 826px;
      color: #fff;
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      line-height: 187.5%;
      margin-bottom: 67px;
    }

    .spiderman__wrapper {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      background-image: url(../../img/dotsimg.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 196px 154px;
      background-position: 830px 158px;

      &-title {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        line-height: 187.5%;
        margin-bottom: 32px;
      }

      &-text {
        width: 545px;
        color: #fff;
        line-height: 187.5%;
        margin-bottom: 46px;
      }

      .spiderman__inner-wrapper {
        border: 2px solid transparent;
        overflow: hidden;
        border-radius: 5px;
        width: 1146px;
        height: 462px;

        &-img {
          cursor: pointer;
          border-radius: 5px;
          transition: 0.3s ease-in-out;
        }

        &-img:hover {
          width: 1146px;
          height: 462px;
          transform: scale(1.1);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
